.frame.my-8{ id: dom_id(note) }
  .frame__header.bg-blue-100
    .frame__title.title.m-0
      .row.m-0.p-0
        .col-xs-11= note.title
        .col-xs-1
          .u-pull-right
            = link_to edit_user_note_path(note.user, note), class: 'm-0 u-center p-1 u-circle bg-blue-200' do
              = render 'icons/edit'

  .content-no-padding
    .divider.m-0.bg-blue-200

  .frame__body.my-1
    = note.content_as_html.html_safe

  .content-no-padding
    .divider.m-0

  .frame__footer.bg-gray-100.py-1
    .frame__subtitle.m-0 foo