/ = turbo_stream_from @user


%ul.menu
  = turbo_frame_tag 'notes-list' do # render user.notes, user: user
    = render partial: 'notes/note-list-item', collection: user.notes, as: :note

= pagy_nav(@pagy).html_safe