.header.header-fixed.u-unselectable
  .header-brand
    .nav-item.no-hover
      %h6.title RNF
    .nav-item
      %span.icon.text-orange-300
        %i.fa-solid.fa-bolt-lightning
    #header-btn.nav-item.nav-btn
      %span
      %span
      %span
  #header-menu.header-nav
    .nav-right
      - if @user
        .nav-item 
          = link_to new_user_note_path(user), class: 'btn btn-info square', data: { 'turbo-frame' => 'notes-container' } do
            %i.fa-wrapper.fa-solid.fa-plus
            Note
        .nav-item
          = @user.name